bs4
cffi
chardet
Click
cryptography
Flask
Flask-Compress
Flask-Cors
Flask-JSON
gast
google-pasta
grpcio
h5py
idna
itsdangerous
Jinja2
Keras-Applications
Keras-Preprocessing
keyring
Markdown
MarkupSafe
mock
numpy
opencv-contrib-python
opencv-python
pdf2image
Pillow
protobuf
pycparser
pyxdg
requests
scipy
SecretStorage
six
soupsieve
tensorboard
tensorflow==1.13.0
tensorflow-estimator==1.13.0
termcolor
torch
urllib3
Werkzeug
tqdm
